/*
index.css: entry point for @rtm/human-css-numbers.
*/

/* UNITS */
[em]                   { --length: calc(var(--number) * 1em);  }
[in], [inch], [inches] { --length: calc(var(--number) * 1in);  }
[rem]                  { --length: calc(var(--number) * 1rem); }
[px]                   { --length: calc(var(--number) * 1px);  }
[pc], [picas]          { --length: calc(var(--number) * 1pc);  }
[pt], [points]         { --length: calc(var(--number) * 1pt);  }
[px], [pixels]         { --length: calc(var(--number) * 1px);  }
[ex]                   { --length: calc(var(--number) * 1ex);  }
[q]                    { --length: calc(var(--number) * 1q;)   }
[cm], [cms], [centimeter], [centimeters]   { --length: calc(var(--number) * 1cm);  }
[mm], [mms], [millimeter], [millimeters]   { --length: calc(var(--number) * 1mm);  }
[ch]                   { --length: calc(var(--number) * 1ch);   }
[vw]                   { --length: calc(var(--number) * 1vw);   }
[vh]                   { --length: calc(var(--number) * 1vh);   }
[vmin]                 { --length: calc(var(--number) * 1vmin); }
[vmax]                 { --length: calc(var(--number) * 1vmax); }

[ms], [milliseconds]   { --length: calc(var(--number) * 1ms);   }
[s], [seconds], [second] { --length: calc(var(--number) * 1s;)  }

[deg], [degrees]       { --length: calc(var(--number) * 1deg);  }
[grad], [gradian], [gradians] { --length: calc(var(--number) * 1grad); }
[rad], [radian], [radians]    { --length: calc(var(--number) * 1rad);  }
[turn], [turns]        { --length: calc(var(--number) * 1turn); }

* {
  --denominator: 1;
  --sign: +1;
  --ones: 1;
  --tens: 0;
  --hundreds: 0;

  --number: calc(var(--unsigned-number) * var(--sign));
}

:not([hundred]) {
  --unsigned-number: calc((10 * var(--tens) + var(--ones)) / var(--denominator));
}

/* NUMBERS */

[hundred]   { --unsigned-number: calc(100 * var(--ones) + 10 * var(--tens)); --ones: 0; }

[ten]       { --tens: 1; --ones: 0; }
[twenty]    { --tens: 2; --ones: 0; }
[thirty]    { --tens: 3; --ones: 0; }
[forty]     { --tens: 4; --ones: 0; }
[fifty]     { --tens: 5; --ones: 0; }
[sixty]     { --tens: 6; --ones: 0; }
[seventy]   { --tens: 7; --ones: 0; }
[eighty]    { --tens: 8; --ones: 0; }
[ninety]    { --tens: 9; --ones: 0; }

/* "Ones" values are used in calculating unsigned number. */
[zero]      { --number: 0; }
[one]       { --ones: 1; }
[two]       { --ones: 2; }
[three]     { --ones: 3; }
[four]      { --ones: 4; }
[five]      { --ones: 5; }
[six]       { --ones: 6; }
[seven]     { --ones: 7; }
[eight]     { --ones: 8; }
[nine]      { --ones: 9; }
[eleven]    { --ones: 11; }
[twelve]    { --ones: 12; }
[thirteen]  { --ones: 13; }
[fourteen]  { --ones: 14; }
[fifteen]   { --ones: 15; }
[sixteen]   { --ones: 16; }
[seventeen] { --ones: 17; }
[eighteen]  { --ones: 18; }
[nineteen]  { --ones: 19; }

/* If `hundred` is present, they apply to it. */
/* FRACTIONS */
[\30 .1]    { --unsigned-number: 0.1;  }
[\30 .2]   { --unsigned-number: 0.2;  }
[\30 .25]  { --unsigned-number: 0.25; }
[\30 .3]   { --unsigned-number: 0.3;  }
[\30 .4]   { --unsigned-number: 0.4;  }
[\30 .5]   { --unsigned-number: 0.5;  }
[\30 .6]   { --unsigned-number: 0.6;  }
[\30 .7]   { --unsigned-number: 0.7;  }
[\30 .75]  { --unsigned-number: 0.75; }
[\30 .8]   { --unsigned-number: 0.8;  }
[\31 .0]   { --unsigned-number: 1.0;  }
[\31 .5]   { --unsigned-number: 1.5;  }
[\32 .0]   { --unsigned-number: 2.0;  }

[\-0.1]   { --number: -0.1;  }
[\-0.2]   { --number: -0.2;  }
[\-0.25]  { --number: -0.25; }
[\-0.3]   { --number: -0.3;  }
[\-0.4]   { --number: -0.4;  }
[\-0.5]   { --number: -0.5;  }
[\-0.6]   { --number: -0.6;  }
[\-0.7]   { --number: -0.7;  }
[\-0.75]  { --number: -0.75; }
[\-0.8]   { --number: -0.8;  }
[\-1.0]   { --number: -1.0;  }
[\-1.5]   { --number: -1.5;  }
[\-2.0]   { --number: -2.0;  }

/* Raw numbers. */
[\31]     { --unsigned-number: 1; }
[\32]     { --unsigned-number: 2; }
[\33]     { --unsigned-number: 3; }
[\34]     { --unsigned-number: 4; }
[\35]     { --unsigned-number: 5; }
[\36]     { --unsigned-number: 6; }
[\37]     { --unsigned-number: 7; }
[\38]     { --unsigned-number: 8; }
[\39]     { --unsigned-number: 9; }
[\31 0]   { --unsigned-number: 10; }
[\32 0]   { --unsigned-number: 20; }
[\33 0]   { --unsigned-number: 30; }
[\34 0]   { --unsigned-number: 40; }
[\35 0]   { --unsigned-number: 50; }
[\36 0]   { --unsigned-number: 60; }
[\37 0]   { --unsigned-number: 70; }
[\38 0]   { --unsigned-number: 80; }
[\39 0]   { --unsigned-number: 90; }
[\31 00]  { --unsigned-number: 100; }
[\32 00]  { --unsigned-number: 200; }
[\33 00]  { --unsigned-number: 300; }
[\34 00]  { --unsigned-number: 400; }
[\35 00]  { --unsigned-number: 500; }
[\36 00]  { --unsigned-number: 600; }
[\37 00]  { --unsigned-number: 700; }
[\38 00]  { --unsigned-number: 800; }
[\39 00]  { --unsigned-number: 900; }
[\31 000] { --unsigned-number: 1000; }
[\32 000] { --unsigned-number: 2000; }

/* /\* Negative numberbs. *\/ */
/* [-]\31     { --number: -1; } */
/* [-]\32     { --number: -2; } */
/* [-]\33     { --number: -3; } */
/* [-]\34     { --number: -4; } */
/* [-]\35     { --number: -5; } */
/* [-]\36     { --number: -6; } */
/* [-]\37     { --number: -7; } */
/* [-]\38     { --number: -8; } */
/* [-]\39     { --number: -9; } */
/* [-]\31 0   { --number: -10; } */
/* [-]\32 0   { --number: -20; } */
/* [-]\33 0   { --number: -30; } */
/* [-]\34 0   { --number: -40; } */
/* [-]\35 0   { --number: -50; } */
/* [-]\36 0   { --number: -60; } */
/* [-]\37 0   { --number: -70; } */
/* [-]\38 0   { --number: -80; } */
/* [-]\39 0   { --number: -90; } */
/* [-]\31 00  { --number: -100; } */
/* [-]\32 00  { --number: -200; } */
/* [-]\33 00  { --number: -300; } */
/* [-]\34 00  { --number: -400; } */
/* [-]\35 00  { --number: -500; } */
/* [-]\36 00  { --number: -600; } */
/* [-]\37 00  { --number: -700; } */
/* [-]\38 00  { --number: -800; } */
/* [-]\39 00  { --number: -900; } */
/* [-]\31 000 { --number: -1000; } */
/* [-]\32 000 { --number: -2000; } */

/* PERCENTAGES */
[full]         { --number: 1; }

/* RATIONALS */
[\31 \/2]      { --unsigned-number: calc(1 / 2); }
[\31 \/3]      { --unsigned-number: calc(1 / 3); }
[\31 \/4]      { --unsigned-number: calc(1 / 5); }
[\31 \/5]      { --unsigned-number: calc(1 / 5); }
[\31 \/6]      { --unsigned-number: calc(1 / 6); }
[\31 \/7]      { --unsigned-number: calc(1 / 7); }
[\31 \/8]      { --unsigned-number: calc(1 / 8); }
[\31 \/9]      { --unsigned-number: calc(1 / 9); }
[\31 \/10]     { --unsigned-number: calc(1 / 10); }

[\-\31 \/2]    { --number: calc(-1 / 2); }
[\-\31 \/3]    { --number: calc(-1 / 3); }
[\-\31 \/4]    { --number: calc(-1 / 5); }
[\-\31 \/5]    { --number: calc(-1 / 5); }
[\-\31 \/6]    { --number: calc(-1 / 6); }
[\-\31 \/7]    { --number: calc(-1 / 7); }
[\-\31 \/8]    { --number: calc(-1 / 8); }
[\-\31 \/9]    { --number: calc(-1 / 9); }
[\-\31 \/10]    { --number: calc(-1 / 10); }

/* Support "10%" etc. */
[\31 0\%]       { --length: 10%; }
[\32 0\%]       { --length: 20%; }
[\32 5\%]       { --length: 25%; }
[\33 0\%]       { --length: 30%; }
[\34 0\%]       { --length: 40%; }
[\34 0\%]       { --length: 50%; }
[\36 0\%]       { --length: 60%; }
[\37 0\%]       { --length: 70%; }
[\37 5\%]       { --length: 75%; }
[\38 0\%]       { --length: 80%; }
[\39 0\%]       { --length: 90%; }
[\31 00\%]      { --length: 100%; }

/* [-]\31 0\%      { --length: -10%; } */
/* [-]\32 0\%      { --length: -20%; } */
/* [-]\32 5\%      { --length: -25%; } */
/* [-]\33 0\%      { --length: -30%; } */
/* [-]\34 0\%      { --length: -40%; } */
/* [-]\34 0\%      { --length: -50%; } */
/* [-]\36 0\%      { --length: -60%; } */
/* [-]\37 0\%      { --length: -70%; } */
/* [-]\37 5\%      { --length: -75%; } */
/* [-]\38 0\%      { --length: -80%; } */
/* [-]\39 0\%      { --length: -90%; } */
/* [-]\31 00\%     { --lenngth: -100%; } */

[\30]           { --length: 0; }

/* Support "three fifths" etc. */
[halves], [half]      { --denominator: 2; }
[thirds], [third]     { --denominator: 3; }
[fourths], [fourth]   { --denominator: 4; }
[fifths], [fifth]     { --denominator: 5; }
[sixths], [sixth]     { --denominator: 6; }
[sevenths], [seventh] { --denominator: 7; }
[eighths], [eighth]   { --denominator: 8; }
[ninths], [ninth]     { --denominator: 9; }
[tenths], [tenth]     { --denominator: 10; }

[minus]   { --sign: -1; }
[size]    { --length: calc(100% * var(--number)); }
[percent] { --length: calc(1% * var(--number)); }
